<div class="container">
    <div class="row card" style="padding-top: 20px; padding-left: 20px; padding-bottom: 20px">
        <div class="col s12">
            <h5>Departments with employees</h5>
            <table class="striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Department</th>
                        <th>Employees</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of departmentsWithEmployees">
                        <th>{{ x.id }}</th>
                        <th>{{ x.departmentName }}</th>
                        <th>
                            <p *ngFor="let a of x.employeesInThisDepartment">
                                Name: {{ a['fullName'] }} | Salary: {{ a['salary'] }}$
                                | Birthday date: {{ a['birthday'] }}
                            </p>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row card" style="padding-top: 20px; padding-left: 20px">
        <div class="col s5">
            <h5>Create new department</h5>
            <input #createDepName placeholder="department name" type="text" required/>
            <input (click)="addDepartment(createDepName.value); createDepName.value=''"
                  class="btn waves-effect waves-light green lighten-1" type="submit" value="Create"/>
        </div>
        <div class="col s5 offset-s1">
            <h5>Update</h5>
            <input #editDepId placeholder="id of editable department" type="text" required>
            <input #editDepName placeholder="new department name" name="departmentName" type="text" required>
            <input (click)="updateDepartment(editDepId.value, editDepName.value); editDepId.value=''"
                 class="btn waves-effect waves-light green lighten-1" type="submit" value="Update">
        </div>
        <div class="col s5" style="margin-bottom: 110px">
            <h5>Delete department</h5>
            <input #delDepName placeholder="department name" type="text" required>
            <input (click)="deleteDepartment(delDepName.value); delDepName.value=''"
                 class="btn waves-effect waves-light green lighten-1" type="submit" value="Delete">
        </div>
  </div>
</div>
