<div class="container">
    <div class="row card" style="padding-top: 20px; padding-left: 20px">
        <div class="col s5">
            <h5>Search by birthday: </h5>
            <input #birthdayDate type="date" required>
            <input (click)="findByBirthdayDate(birthdayDate.value); birthdayDate.value=''"
                   class="btn waves-effect waves-light green lighten-1" type="submit" value="Search">
            <input (click)="ngOnInit()" class="btn waves-effect waves-light green lighten-1"
                   style="margin-left: 20px" type="submit" value="Show all">
        </div>
        <div class="col s5 offset-s1" style="margin-bottom: 20px">
            <h5>Search between birthday dates: </h5>
            <input #birthdayDate1 type="date" required>
            <input #birthdayDate2 type="date" required>
            <input (click)="findByBirthdayDateBetween(birthdayDate1.value, birthdayDate2.value); birthdayDate1.value='';
              birthdayDate2.value=''" class="btn waves-effect waves-light green lighten-1" type="submit" value="Search">
        </div>
    </div>
    <div class="row card" style="padding-top: 20px; padding-left: 20px; padding-bottom: 20px">
        <div class="col s12">
            <h5>Employees</h5>
            <table class="striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full name</th>
                        <th>Department</th>
                        <th>Birthday</th>
                        <th>Salary</th>
                        <th>Department ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of employees">
                        <th>{{ x.id }}</th>
                        <th>{{ x.fullName }}</th>
                        <th>{{ x.departmentName }}</th>
                        <th>{{ x.birthday }}</th>
                        <th>{{ x.salary }}</th>
                        <th>{{ x.department_id }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row card" style="padding-top: 20px; padding-left: 20px">
        <div class="col s5">
            <h5>Add new employee</h5>
            <input #AName placeholder="employee name" type="text" required>
            <input #ADepId placeholder="department id" type="text" required>
            <input #ABday placeholder="birthday date" type="date" required>
            <input #ASalary placeholder="salary" type="text" required>
            <input (click)="addEmployee(AName.value, ADepId.value, ABday.value, ASalary.value);
                   AName.value=''; ADepId.value=''; ABday.value=''; ASalary.value=''"
                   class="btn waves-effect waves-light green lighten-1" type="submit" value="Add">
        </div>
        <div class="col s5 offset-s1">
            <h5>Update</h5>
            <input #UId placeholder="id of editable employee" type="text" required>
            <input #UName placeholder="employee name" type="text" required>
            <input #UDepId placeholder="department id" type="text" required>
            <input #UBday placeholder="birthday date" type="date" required>
            <input #USal placeholder="salary" type="text" required>
            <input (click)="updateEmployee(UId.value, UName.value, UDepId.value, UBday.value, USal.value);
                   UId.value=''; UName.value=''; UDepId.value=''; UBday.value=''; USal.value=''"
                   class="btn waves-effect waves-light green lighten-1" type="submit" value="Update">
        </div>
        <div class="col s5" style="margin-bottom: 110px">
            <h5>Delete employee</h5>
            <input #DId placeholder="employee id" type="text" required>
            <input (click)="deleteEmployee(DId.value); DId.value=''"
                   class="btn waves-effect waves-light green lighten-1" type="submit" value="Delete">
        </div>
    </div>
</div>
