<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">
    <link th:href="@{/resources/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection">
    <title>Departments</title>
</head>
<body>
<div class="container">
    <div class="row card">
        <div class="col s12">
            <h4>Departments</h4>
            <table class="striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Department</th>
                    <th>Average salary</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="departmentsList" type="java.util.List"*/-->
                <th:block th:each="item : ${departmentsList}">
                    <tr>
                        <th th:text="${item.id}"></th>
                        <th th:text="${item.departmentName}"></th>
                        <th th:text="${item.averageSalary}"></th>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="center">
            <p>
                <a class="waves-effect waves-light btn" href="/departments/departmentsWithEmployees">With employees</a>
                <a class="waves-effect waves-light btn" href="/employees">Employees</a>
                <a class="waves-effect waves-light btn" href="/departments">Show all</a>
            </p>
        </div>
    </div>
    <div class="row card">
        <div class="col s5">
            <h5>Create new department</h5>
            <form action="/departments/insert" method="post">
                <input placeholder="department name" name="departmentName" type="text" required>
                <button class="btn waves-effect waves-light" type="submit">Create</button>
            </form>
        </div>
        <div class="col s5 offset-s1">
            <h5>Update</h5>
            <form action="/departments/update" method="post">
                <input placeholder="id of editable department" name="id" type="text" pattern="^[ 0-9]+$" required>
                <input placeholder="new department name" name="departmentName" type="text" required>
                <button class="btn waves-effect waves-light" type="submit">Update</button>
            </form>
        </div>
        <div class="col s5">
            <h5>Delete department</h5>
            <form action="/departments/delete" method="post" style="margin-bottom: 110px">
                <input placeholder="department name" name="departmentName" type="text" required>
                <button class="btn waves-effect waves-light" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/resources/js/materialize.min.js}" type="text/javascript"></script>
<script th:src="@{/resources/js/jq.js}" type="text/javascript"></script>
</body>
</html>