<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">
    <link th:href="@{/resources/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection">
    <title>Employees</title>
</head>
<body>
<div class="container">
    <div class="row card">
        <div class="col s5">
            <h5>Search by birthday: </h5>
            <form action="/employees/findEmployeesByBirthday" method="get">
                <input name="birthday" type="date" required>
                <button class="btn waves-effect waves-light" type="submit">Search</button>
            </form>
        </div>
        <div class="col s5 offset-s1">
            <h5>Search between birthday dates: </h5>
            <form action="/employees/findEmployeesByBirthdayBetween" method="get" style="margin-bottom: 100px">
                <input name="birthday" type="date" required>
                <input name="birthday1" type="date" required>
                <button class="btn waves-effect waves-light" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row card">
        <div class="col s12">
            <table class="striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Full name</th>
                    <th>Department</th>
                    <th>Birthday</th>
                    <th>Salary</th>
                    <th>Department ID</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="departmentsList" type="java.util.List"*/-->
                <th:block th:each="item : ${employeesList}">
                    <tr>
                        <th th:text="${item.id}"></th>
                        <th th:text="${item.fullName}"></th>
                        <th th:text="${item.departmentName}"></th>
                        <th th:text="${item.birthday}"></th>
                        <th th:text="${item.salary}"></th>
                        <th th:text="${item.department_id}"></th>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="center">
            <p><a class="waves-effect waves-light btn" href="/departments/departmentsWithEmployees">
                Departments with employees</a>
                <a class="waves-effect waves-light btn" href="/departments">Departments</a>
                <a class="waves-effect waves-light btn" href="/employees">Show all</a></p>
        </div>
    </div>
    <div class="row card">
        <div class="col s5">
            <h5>Add new employee</h5>
            <form action="/employees/insert" method="post">
                <input placeholder="employee name" name="fullName" type="text" required>
                <input placeholder="department id" name="department_id" type="text" pattern="^[ 0-9]+$" required>
                <input placeholder="birthday date" name="birthday" type="date" required>
                <input placeholder="salary" name="salary" type="text" required>
                <button class="btn waves-effect waves-light" type="submit">Create</button>
            </form>
        </div>
        <div class="col s5 offset-s1">
            <h5>Update</h5>
            <form action="/employees/update" method="post">
                <input placeholder="id of editable employee" name="id" type="text" pattern="^[ 0-9]+$" required>
                <input placeholder="employee name" name="fullName" type="text" required>
                <input placeholder="department id" name="department_id" type="text" pattern="^[ 0-9]+$" required>
                <input placeholder="birthday date" name="birthday" type="date" required>
                <input placeholder="salary" name="salary" type="text" required>
                <button class="btn waves-effect waves-light" type="submit">Update</button>
            </form>
        </div>
        <div class="col s5">
            <h5>Delete employee</h5>
            <form action="/employees/delete" method="post" style="margin-bottom: 110px">
                <input placeholder="employee id" name="id" type="text" pattern="^[ 0-9]+$" required>
                <button class="btn waves-effect waves-light" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/resources/js/materialize.min.js}" type="text/javascript"></script>
<script th:src="@{/resources/js/jq.js}" type="text/javascript"></script>
</body>
</html>