<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">
    <link th:href="@{/resources/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection">
    <title>Sign in</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s4 offset-s4" style="margin-top: 15%">
            <h2 class="center">Sign in</h2>
            <form th:action="@{/sign}" method="post">
                <input type="text" class="form-control" name="username" placeholder="user name"
                       value="root" required autofocus>
                <input type="password" class="form-control" name="password" placeholder="Password"
                       value="root" required>
                <button class="btn waves-effect waves-light" type="submit">Sign</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/resources/js/materialize.min.js}" type="text/javascript"></script>
<script th:src="@{/resources/js/jq.js}" type="text/javascript"></script>
</body>
</html>